@page "/"

<PageTitle>Index</PageTitle>

<h1>
<img src="https://media3.giphy.com/media/xTiIzJSKB4l7xTouE8/giphy.gif?cid=790b76115d383c80cb02d54abec97b60b70e0ca7c56e6d15&rid=giphy.gif" alt="General Kenobi" style="object-fit:contain">
</h1>
<br/>
<br/>
<p>You have two pages to peruse and enjoy!</p>
<br>With our Images page you can get a random image of a cat (sorry no dogs where supplied in this api...). You then have the option to save the image to your favourites pages.<br/>
<p> Inside My Favourites you can look back at your fond favourites or delete indivdual ones that no longer give you that fuzzy feeling.</p>
